cat <<EOF >> .gitignore
# Binarios e instaladores
get-docker.sh
get_helm.sh
minikube*
kubectl
terraform
*.exe

# Entornos virtuales y caché
venv/
__pycache__/
*.pyc

# Archivos de estado de Terraform
.terraform/
*.tfstate
*.tfstate.backup
EOF